.main {
    position: relative;
    margin-top: 10rem;
    margin-bottom: 10rem;
    min-height: 26.4rem;
}

.top_section {
    position: fixed;
    width: 100%;
    margin-top: 0;
    top: 0;
    left: 0;
    z-index: 100;
}
