<<<<<<< HEAD
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.book_info {
  display: grid;
  grid-template-columns: 30% 70%;
  column-gap: 5rem;
}

.book_info .book_avatar {
  margin: auto;
  padding: 10px;
}

.book_other .list_info {
  padding: 0;
  margin: 0;
}

.book_other .list_info li {
  list-style: none;
  display: flex;
}

.book_other .info_title {
  width: 10rem;
}

.cates_list {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: left;
}

.cates_list li {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #f18121;
  color: #f18121;
  padding: 4px 6px;
  border-radius: 3px;
  margin-right: 10px;
}

.cates_list li:hover {
  background: #f18121;
  color: #fff;
  list-style: none;
}

.story_detail_menu ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.story_detail_menu li {
  width: 8rem;
  text-align: center;
  padding: 1rem 2px;
  margin: 0 2rem;
  border-radius: 3px;
  cursor: pointer;
}

.story_detail_menu .li01 {
  background: #8bc34a;
}

.story_detail_menu .li02 {
  background-color: #209cee;
}

.story_detail_menu .li03 {
  background: #bd10e0;
}

.story_detail_menu .li04 {
  background-color: #ff3860;
}

.sticky_table {
  overflow: scroll;
  height: 20rem;
  border: 1px solid #f0f4f8;
  overflow-x: hidden;
}

table {
  width: 100%;
}
table th,
table td {
  padding: 15px 30px;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}
table th {
  color: #364d67;
  font-weight: 600;
  background-color: #f1f7fd;
}
table td {
  background-color: white;
}
=======

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

body.detail .content .main_content .book_detail .book_info .book_other p, body.detail .content .main_content .book_detail .book_info .book_other div span {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}
ul.list-info{
  clear: both;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
ul.list-info li {
  display: block;
}
ul.list-info li p {
  padding-top: 0;
  line-height: 27px;
  float: left;
}
ul.list-info li p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  text-transform: inherit;
  color: #000;
}

body.detail .content .main_content .book_detail .list_chapter {
  width: 100%;
  border-radius: 5px;
  max-height: 500px;
  overflow: auto;
  min-height: 300px;
  box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
  font-weight: 400;
  font-size: 15px;
}

.list01 li a {
  display: inline-block;
  border: 1px solid #56ccf2;
  color: #56ccf2;
  padding: 4px 6px;
  border-radius: 3px;
  margin-right: 10px
}
.list01 li.li03 a {
  border-color: #f18121;
  color: #f18121;
  margin-top: 5px
}
.list01 li.li03 a:hover {
  background: #f18121;
  color: #fff;
  list-style: none;
}
.story-detail-menu {
  overflow: hidden;
}
.story-detail-menu a{
  margin-bottom: 5px;
}
.story-detail-menu li.li01 a {
  background: #8bc34a;
}
.story-detail-menu li a {
  font-size: 15px;
  float: left;
  color: #fff!important;
  margin-right: 8px;
  min-width: 125px;
  font-weight: 400;
  padding: 10px;
}
.button.is-rounded {
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
.button.is-danger {
  background-color: #ff3860;
  border-color: transparent;
  color: #fff;
}
.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(.375em - 1px);
  padding-left: .75em;
  padding-right: .75em;
  padding-top: calc(.375em - 1px);
  text-align: center;
  white-space: nowrap;
}
.story-detail-menu li.li03 a {
  background: #bd10e0;
}
.button.is-info {
  background-color: #209cee;
  border-color: transparent;
  color: #fff;
}

  .col-xs-3 {
      width: 20%;
  }
  .col-xs-9 {
      width: 80%;
  }
  .story-detail-menu li {
      display: inline-block;
      width: 24%;
  }

  a {
    text-decoration: none;
  }
  img {
    display: block;
    max-width: 100%;
  }
  body,
  input,
  button,
  textarea,
  select {
    outline: none;
    font-size: 12px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
  }
  input {
    line-height: normal;
  }
  button {
    cursor: pointer;
  }
  body {
    padding: 20px;
  }
  table {
    width: 100%;
  }
  table th,
  table td {
    padding: 15px 30px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
  }
  table th {
    color: #364d67;
    font-weight: 600;
    background-color: #f1f7fd;
  }
  table td {
    background-color: white;
  }
  table tbody tr {
    border-top: 1px solid #f0f4f8;
  }
  table .user {
    display: flex;
    align-items: center;
    gap: 0 10px;
  }
  table .user img {
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    object-fit: cover;
    flex-shrink: 0;
  }
  .sticky-table {
    overflow: auto;
    border: 1px solid #f0f4f8;
  }
  .sticky-table tbody td:first-child,
  .sticky-table thead th:first-child {
    position: sticky;
    left: 0;
  }
  .sticky-table tbody td:first-child span {
    padding-right: 50px;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
>>>>>>> 7e3922c8f8447e3f3a5b9565e3ba489ab0ea7407
