* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
}

.slider {
    width: 100%;
    margin-bottom: 3rem;
}

.post_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

@media screen and (max-width: 880px) {
    .post_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 40px;
    }
}
