@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --font-family-sarabun: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}

/* article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
} */

body {
  margin: 0;
  font-family: var(--font-family-sarabun);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  height: 90px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -5px;
}

.col_sm_2 {
  padding-left: 10px;
}

@media (min-width: 768px) {
  .col_md_3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col_md_6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.form_control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 15px;
  line-height: 1.5;
  background-color: #f1f1f1;
  height: 45px;
  border: 1px solid #dadada;
  border-radius: 0.357rem;
}

/* search */
div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
  height: 30px;
  font-weight: 600;
}

.btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;

  user-select: none;
  border: 2px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.357rem;
}

.btn_primary {
  color: rgb(245 157 57);
  background-color: rgb(251 226 197);
  border-color: none;
  border-radius: 0.357rem;
  border: none;
}

.btn_save {
  background-color: rgb(166 236 171);
  color: rgb(1 123 10);
  letter-spacing: 1px;
}
.btn_cancel {
  background-color: rgb(255 197 197);
  color: rgb(190, 40, 40);
}

@media (min-width: 576px) {
  .modal_dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal_dialog_centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .modal_sm {
    max-width: 300px;
  }
}

.bg_success {
  background-color: #bfefc4 !important;
  color: #02790c !important;
}

div.dataTables_wrapper div.dataTables_length select {
  width: 75px;
  display: inline-block;
}

.element_button {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.app_content {
  min-height: calc(100vh - 50px);
  padding: 10px;
  background-color: #f5f5f5;
  -webkit-transition: margin-left 0.3s ease;
  -o-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
}

@media (max-width: 767px) {
  .app_content {
    margin-top: 10px;
    min-width: 100%;
  }
}

@media (max-width: 480px) {
  .app_content {
    padding: 15px;
  }
}

.btn {
  cursor: pointer;
}

.tile {
  position: relative;
  background: #ffffff;
  border-radius: 0.375rem;
  padding: 20px;
  box-shadow: 0 0 13px 0px #e1ddf4;
}

.tile .tile_title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 20px;
  /* text-align: center; */
  border-bottom: 2px solid #ffd43b;
  padding-bottom: 10px;
  /* border-left: 3px solid black; */
  padding-left: 5px;
  color: black;
}

table {
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Modal Content */
.modal_content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  margin-top: 0px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

@media (max-width: 1168px) {
  .modal_content {
    width: 80%;
  }
}
