.new_comic {
  display: grid;
  grid-template-columns: 30% 80%;
  column-gap: 3rem;
}

.preview_section {
  justify-self: center;
}

.input_section {
  width: 80%;
}

.comic_form_info label {
  display: block;
}

/* .author_section {
  padding: 0 1.5rem;
  border-bottom: 2px solid rgb(88, 88, 88);
} */

.author_name_input {
  width: 100%;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border: 1px solid hsl(0, 0%, 80%);
  min-height: 38px;
  box-sizing: border-box;
  padding: 5px;
  font-size: 18px;
}

.comic_section {
  padding: 1rem;
}

.comic_section label {
  font-weight: bold;
  margin-top: 4px;
}

.cate_choose li {
  display: inline-block;
  list-style-type: none;
  padding: 0.5rem;
}

.cate_choose li label {
  display: inline;
  padding: 0 4px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  background-color: hsl(0, 0%, 100%);
  font-size: 18px;
  resize: none;
}

.devide_section {
  margin: 1rem 0;
  border-top: 1px solid gray;
  height: 4px;
  border-bottom: 1px solid gray;
}

.upload__thumbnail::-webkit-file-upload-button {
  background: rgb(32, 119, 249);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 0.4em;
  border-radius: 10px;
  border: none;
}

.btn_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.btn_wrapper btn {
  margin: 0 10rem;
}

.Update_btn {
  padding: 0.6rem 1.2rem;
  background-color: #06db46;
  border: 2px solid #06db46;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  margin: 0 2rem 0 1rem;
}

.Update_btn:hover {
  background-color: #ffffff;
  border: 2px solid #06db46;
  color: #06db46;
  transition: 0.5s;
}

.Delete_btn {
  padding: 0.6rem 1.2rem;
  background-color: #ff4d01;
  border: 2px solid #ff4d01;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  margin: 0 1.5rem;
}

.Delete_btn:hover {
  background-color: #ffffff;
  border: 2px solid #ff4d01;
  color: #ff4d01;
  transition: 0.5s;
}
